<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <!-- CSS here -->




    <link rel="stylesheet" href="~/NicepageAssets/css/TetsPage.css">
    <link rel="stylesheet" href="~/NicepageAssets/css/CreateTS.css">
    <link rel="stylesheet" href="~/NicepageAssets/css/nicepage.css">
    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
      <header class="u-clearfix u-header u-header" id="sec-e161">

                    <div class="langsw_item">
                        <a href="@Url.Action("Exit", "Home")" title="Выход">
                            <span class="langsw_caption">Выход<span>
                        </span></span></a>
                    </div>
                <div class="langsw_item">

                    <a href="@Url.Action("vhod", "home")" title="Главная">
                      <span class="langsw_caption">Главная</span>
                    </a>
                </div>

      </header>

            @RenderBody()


  <footer class="footer">
    

</footer>


  
   <script src="~/NicepageAssets/js/jquery.js"></script>
   <script src="~/NicepageAssets/js/nicepage.js"></script>

    <!-- Js Для построения графиков -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/navigation.js"></script>
    <script src="~/js/highcharts.js"></script>
    <script src="~/js/exporting.js"></script>
    <script src="~/js/scripts.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.paroller.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/loader.js"></script>





 

</body>
</html>

